@media screen and(max-width:480px){
	main{
			font-size: 24px;
	}

}
.wrapper{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  display: flex;
  justify-content: space-between;
}
body{
	font-weight: normal;
	color: #333333;
	font-family: sans-serif;
	font-size: 16px;}
  .btn___{
    text-align: right;
    
  }

  .head_btn{
    font-size: 25px;
    width: 150px; 
    background-color: pink;
    color: white;
    border-style: solid;
    text-align: center;
    margin-right: 10px;
    
  }
  .head_btn1{
    color: wheat;
    background-color: green;
    font-size: 25px;
    width: 150px;
    text-align: center;
    margin-right: 20px;
  }
  
  .list_nav_header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-items: center;
  }


  .mv{
    width: 100%;
    
  }
  .sec_01_left{
    display: flex;
    justify-content: space-between;
  
  }
  .sec_01_left img{
    width: 300px;
    float: right;
  }
  
  .sec_01{
  margin-top: 100px;
}

.wrapper_02{
  margin-top: 300px;
}
.sec_02__box{
	display: flex;
	justify-content: space-between;
  
}

.sec_02_box{
	width: 100%;
  height: 50%;
  margin-right: 10px;
    margin-left: 10px;
}

.sec_02_box img{
	width:100%;
	height: 50%;
  justify-content: space-between;
}x
.sec_03{
  margin-top: 60px;
  box-sizing: border-box;
}
.wrapper_03{
  margin-top: 60px;
}
.sec_03_right{
  font-size: 15px;
	margin-bottom: 20px;
  width: 100%;
  float: right;
}
.sec_03_right h3{
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px; 
}
.clear_fix img{
  width: 40%;
}

.clear_fix{
  display: flex;
  font-size: 15px;
  margin-right: 5px;
  background-color: grey;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;

}

.sec_04{
  margin-top: 40px;
  margin-bottom: 40px;

}
.sec_04_title{
  margin-top: 40px;
  margin-left: 50px;
}

.clearfix{
  display: flex;
  margin-left: 50px;
}

.clearfix img{
  width: 80%;
  margin-right: 10px;
}

.clearfix h3{
  font-size: 15px;
} 


.copyright{
  margin-top: 40px;
}

.sec_btn{
  width: 100%;
  background-color: darkgray;
  padding-top: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around
}
.btn{
  background-color:red;
  width: 30%;
  color: white;
}
.box_btn{
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  background-color: white;
  margin:30px
}
.box_btn1{
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  background-color: white;
  margin:30px
}
.btn__{
  color: white;
  background-color: green;
}
footer{
  text-align: center;
  margin-top: 80px;
}
.aewea_nav_header{
  justify-content: space-between;
  
}
.container{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  border: double;
  padding-bottom:30px;
  padding-top: 10px;
}

.item_{
  
  padding-bottom: 100px;
}