.header{
  display: flex;
  justify-content: space-between;
}
body{
	font-weight: normal;
	color: #333333;
	font-family: sans-serif;
	font-size: 16px;}

  .head_btn{
    font-size: 30px;
    width: 150px;
    background-color:#FF6699; 
    color: white;
    border-style: solid;
    text-align: center;
    margin-right: 10px;
    
  }
  .head_btn1{
    color: wheat;
    background-color: green;
    font-size: 30px;
    width: 150px;
    text-align: center
  }
  
  .list_nav_area{
    justify-content: space-between;
  }